.MenuButton {
    line-height: 1.15;
    text-size-adjust: 100%;
    color: rgb(103, 106, 108);
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    margin-right: 0.6875rem;
    display: block;
    position: absolute;
    top: 0.625rem;
    left: 0.6875rem;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.1875rem;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    border-image: initial;

}
