html {
    background-image: linear-gradient(to right, #2aaae2 0.7%, #dddddf 0.8%, #dddddf 10%, white 19%, white 81%, #dddddf 90%, #dddddf 99.2%, #2aaae2 99.3%); 
    width: 100%;
    font-family: "Roboto Slab", Arial, Helvetica;
    font-size: 120%;
    text-align: center;
}

main {
    width: 79%;
    margin: auto;
}

nav {
    margin: 0 5%;
    width: 90%;
    position: fixed;
    top: 0;
    z-index: 5;
}

nav ul {
    max-width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    transform: skewX(-20deg) translate(-2em);
}

nav ul li {
    width: 17%;
    height: 20%;
    font-size: 120%;
    background-image: linear-gradient(to right, black 97%, red 98%, #2aaae2 99%);
}

@media screen and (max-width: 800px) {
    nav ul li {
        font-size: 20px;
    }
}

nav ul li:hover {
    background-image: linear-gradient(to right, #2aaae2 97%, red 98%, black 99%);
}

nav ul li a {
    display: block;
    text-decoration: none;
    color:#96afb8;
    transform: skew(20deg);
}

nav ul li a:hover {
    color: black;
}

#languageIcons {
    float: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3%;
    width: 30px;
}

@media screen and (min-width: 600px) {
    #languageIcons {
        top: 5%;
        width: 5%;
    }
}

.languageLogo {
    margin: 0.2em auto;
    width: 100%;
    position: relative;
}

#htmlLogo {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

#cssLogo {
    animation: slideIn 0.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#jsLogo {
    width: 70%;
    animation: slideIn 1.1s;
    animation-timing-function: ease-out;
}

@keyframes slideIn {
    from {
        left: -300%;
    }
    to {
        left: 0%;
    }
}


header {
    width: 100%;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 2em;
}

header h1 {
    font-size: 2rem;
    margin-bottom:0.1em;
}

#headerTopLine {
    height: 0.15em;
    width: 50%;
    margin: auto;
    background-color: #2aaae2;
}

#headerBottomLine {
    height: 0.15em;
    width: 25%;
    margin: 0.5em auto;
    background-color: green;
}

#aboutMe h2 {
    padding-top: 0.8em;
    padding-bottom: -0.5em;
}

h2 {
    color: #007CB4;
    margin: 0 auto;
}

h3 {
    color: #007CB4;
}

#aboutMeArticle {
    width: 100%; 
    text-align: center;
    margin: auto;
}

#portraitPhoto {
    height: 13em;
    float: right;
    margin: 0.5em;
    margin-top: 3em;
}
/*
@media screen and (min-width: 600px) {
    #aboutMeArticle {
        width: 75%;
    }
    #portraitPhoto {

    }
}
*/

#theRightCareer {
    margin: 2.5em auto;
}

#theRightCareer h3 {
    margin-bottom: -0.3em;
}

#theRightCareer a {
    text-decoration: none;
    color: #2aaae2; 
}

#theRightCareer a:hover {
    color: #2aaae2;
}

#imageCarousel {
    border: thin green solid;
    border-radius: 5%;
    margin-bottom: 2em;
    position: relative;
}
  
  .carousel-container {
    margin: auto;
    border: thick solid orange;
    position: relative;
    overflow: hidden;
   /* I apply overflow hidden to display one image at a time */
  /* image dimensions are h1200px w900px, so width is 75% of height. */
    height: 300px;
    width: 225px;
  }

  @media screen and (min-width: 600px) {
      .carousel-container {
        width: 375px;
        height: 500px;
      }
  }

  .carousel-slide {
/* display: flex means my images lie in a row so that they can scroll horizontally */
    display: flex;
    width: 100%;
    height: 100%; 
  }

 .carousel-slide img {
     /* img will fit to the size of carousel-slide, which will fit to the slide container. */
     width: 100%;
    height: auto;
    z-index: 1;
 }

 #prevBtn, #nextBtn {
    font-size: 10%;
    border-radius: 20%;
 }
  
  #prevBtn {
    position: absolute;
    /* top: 50%; */
    bottom: 5%;
    z-index: 3;
    left: 5%;
    color: white;
    cursor: w-resize;
  }
  
  #nextBtn {
    position: absolute;
    /* top: 50%; */
    bottom: 5%;
    z-index: 3;
    right: 5%;
    color: white;
    cursor: e-resize;
  }


#foundersAndCoders h2 {
    margin-bottom: -0.25em;
    position: relative;
}

h2 span {
    position: absolute;
    top: -3em;
}

#theFuture {
    margin-top: 2em;
}

#userSuggestions {
    margin: 10% auto 0 auto;
    border-radius: 10%;
    width: 60%;
}

#userSuggestions h2 {
   margin-bottom: -0.5em; 
}

textarea {
    border-radius: 10%;
    width: 90%;
    padding: 5%;
    text-align: center;
}

#footerContainer {
    margin-left: -1%;
    width: 102%;
    margin-bottom: -15%;
}

footer {
    width: 100%;
    margin: auto;
    height: 20em;
    background-color: black;
}

footer h1 {
    font-size: 2rem;
    color: white;
    padding-top: 1em;
}

#footerTopLine {
    width: 20%;
    height: 0.15em;
    background-color: green;
    margin: 0 auto;
    margin-top: -1em;
}

#footerBottomLine {
    width: 10%;
    height: 0.15em;
    background-color: #2aaae2;
    margin: auto;
    margin-top: 0.5em;
}

#footerLogos {
    width: 60%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerLogo {
    height: 6em;
}

#GitHubLogo {
    background-color:white;
}
