.ManufacturerListTitle {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    color: rgb(61, 68, 79);
    font-size: 0.9375rem;
    margin-bottom: 2.1875rem;
    text-align: center;
}
