.DescriptionWrapper {
    display: none;
    text-align: center;
    max-width: 28.75rem;
    margin: 0px auto 1.875rem;
}

@media (min-width: 1024px) {
    .DescriptionWrapper {
        display: block;
    }
}

@media (min-width: 1152px) {
    .DescriptionWrapper {
        display: block;
        text-align: center;
        max-width: 28.75rem;
        margin: 0px auto 1.875rem;
    }
}
