.Copy {
    text-size-adjust: 100%;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    text-align: center;
    box-sizing: inherit;
    margin: 0px;
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.625rem;
}
