.CarsnipLogo {
    width: 9.4375rem;
    height: 1.9375rem;
    animation: 1s ease 0s 1 normal none running ldXWMK;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .CarsnipLogo {
        width: 14rem;
        height: 3.25rem;
    }
}
