.SearchBar {
    font-size: 18px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0.9375rem 0.25rem;
    display: flex;
    animation: appear 1s ease 0s 1 normal none running;
}

.ReactRotatingText {
    position: absolute;
    left: 41px;
    top: 15px;
    font-size: 16px;
}

@media (min-width: 1024px) {
    .ReactRotatingText {
        top: 25px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .SearchBar {
    }
}

