.Copyright {
    padding: 1.125rem 0px;
    background: rgb(38, 42, 49);
}

.Copyright .Container {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    margin: 0px auto;
}

.Copyright .CopyrightTop {
    text-align: center;
}

@media (min-width: 990px) {
    .Copyright .CopyrightTop {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        text-align: left;
        margin: 0px auto;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 69.75rem;
    }
}
