.SearchWrapper {
    font-size: 16px;
    text-align: center;
    box-sizing: inherit;
    width: 18.125rem;
    border-radius: 0.625rem;
    margin: 1.5625rem auto 0px;
}

@media (min-width: 770px) {
    .SearchWrapper {
        width: 610px;
    }
}