.PopupMenu {
    display: block;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    width: 13rem;
    left: -13rem;
    top: 0px;
    bottom: 0px;
    text-align: center;
    z-index: 1;
    background: rgb(244, 244, 245);
    transition: all 200ms ease-in-out 0s;
}

.PopupMenu .LogoWrapper {
    background-color: transparent;
    display: block;
    padding: 1.5625rem 0px 2rem;
}

.PopupMenu .LogoWrapper .CarsnipLogo {
    width: 7.5rem;
    height: 1.25rem;
    overflow: hidden;
}

.PopupMenu .HeaderNav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.PopupMenu .HeaderNav ul .NavLink {
    margin: 0 0 30px;
}

.PopupMenu .HeaderNav ul .NavLink {
    background-color: transparent;
    font-size: 13px;
    color: rgb(100, 105, 114);
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.PopupMenu .HeaderNav ul .NavLink a {
    font-weight: 600;
    font-size: 13px;
}

.popupMenuVisible {
    transform: translateX(var(--popupMenuWidth));
    transition: all 200ms ease-in-out 0s;
}
