.Car {
    width: 9rem;
    height: 5.3125rem;
    position: relative;
    flex: 0 0 9rem;
    margin: 0px 0.625rem;
}

.Car img {
    border-style: none;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 500ms ease 0s;
}

.Car.transparent img {
    opacity: 0.3;
}

@media (min-width: 1024px) {
    .Car {
        width: 18.0625rem;
        height: 10.625rem;
        flex: 0 0 18.0625rem;
        margin: 0px 0.9375rem;
    }
}
