.carousel-backdrop {
    width: 80%;
    height: 80%;
    margin: auto;
    background-image: url('https://images.unsplash.com/photo-1499561385668-5ebdb06a79bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80');
    background-size: 100% 100%;
    border-radius: 10%;
    padding-top: 2%;
    padding-bottom: 0;
}

.carousel-container {
    position: relative;
    /*  box-shadow: 0 0 8px 8px white inset; */
        /* width must be 60% of height as per image ratios */
    height: 500px;
    width: 375px;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.carousel-slide img {
    width: 100%;
    height: auto;
    z-index: 0;
}

#buttons {
    font-size: 120%;
    width: 45%;
    left: 27.5%;
    right: 27.5%;
    position: absolute;
    bottom: 45%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#prevButton, #nextButton {
    background-color: white;
    border: solid 2px black;
    font-size: 100%;
    padding: 1%;
    border-radius: 50%;
    width: 5%;
    text-align: center;
}

@keyframes rainbow {
    0% {
        background-color: orange;
    }
    50% {
        background-color: lightcyan;
    }
    100% {
        background-color: red;
    }
}

#nextButton:hover {
  /* background-color: lightcoral;  */
    animation-name: chicken;
   animation-iteration-count: 5; 
}

#pause {
    display: block;
    margin: 3% auto;
    padding: 1%;
    width: 20%;
    border: thin black solid;
    font-size: 110%;
    border-radius: 40%;
    color: white;
    background-color: blue;
    animation-duration: 5s;
    cursor: pointer;
}

@keyframes chicken {
    0% {
        background-color: gold;
    }
    50% {
        background-color: indianred;
    }
    100% {
        background-color: lavender;
    }
}

#pause:hover {
    background-color: green;
    animation-name: chicken;
}