.Cards {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 76rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 604px) {
    .Cards {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        max-width: 76rem;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 888px) {
    .Cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 900px;
        grid-gap: 10px;
    }
}

@media (min-width: 1172px) {
    .Cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
