.MainLinks {
    line-height: 1.15;
    text-size-adjust: 100%;
    color: rgb(103, 106, 108);
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    display: block;
}

@media (min-width: 515px) {
    .MainLinks {
        display: flex;
        flex-wrap: wrap;
        max-width: 29.9375rem;
        margin: 0px auto;
    }
}

@media (min-width: 888px) {
    .MainLinks {
        margin: 0px auto;
        max-width: none;
    }
}
