.Main {
    background: rgb(50, 56, 65);
}

.Main .main-container {
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 69.75rem;
}

/* .Main .main-container {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    margin: 0px auto;
} */

@media (min-width: 515px) {
    .Main .main-container {
  
    }
}
