.ScrollIcon {
    width: 2.0625rem;
    height: 2.0625rem;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -23px;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.ScrollIcon svg {
    height: 14px;
    width: 10px;
}

.ScrollIcon svg polygon {
    fill: #e4e4e4;
}
