.Nav {
    line-height: 1.15;
    text-size-adjust: 100%;
    color: rgb(103, 106, 108);
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    max-width: 17.75rem;
    margin: 0px auto 1.5625rem;
}

.Nav .NavHeader {
    line-height: 1.15;
    text-size-adjust: 100%;
    box-sizing: inherit;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 96, 0);
    font-weight: 600;
    font-size: 1rem;
}

.Nav .List {
    line-height: 1.15;
    text-size-adjust: 100%;
    color: rgb(103, 106, 108);
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.Nav .List .Item {
    text-size-adjust: 100%;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    list-style-type: none;
    box-sizing: inherit;
    color: rgb(229, 229, 229);
    font-size: 0.9375rem;
    line-height: 2.3125rem;
    font-weight: 300;
    white-space: nowrap;
}

.Nav .List .Item a {
    text-size-adjust: 100%;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    list-style-type: none;
    font-size: 0.9375rem;
    line-height: 2.3125rem;
    font-weight: 300;
    white-space: nowrap;
    box-sizing: inherit;
    background-color: transparent;
    text-decoration: none;
    color: rgb(229, 229, 229);
}

.Nav .List .Item a span {
    text-size-adjust: 100%;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    list-style-type: none;
    font-weight: 300;
    white-space: nowrap;
    box-sizing: inherit;
    display: inline-block;
    line-height: normal;
    font-size: 0.75rem;
    color: white;
    margin-left: 0.375rem;
    background: rgb(37, 170, 170);
    padding: 0.3125rem 0.5rem;
    border-radius: 0.8125rem;
}

@media (min-width: 515px) {
    .Nav {
        max-width: 17.75rem;
        margin: 0px auto 1.5625rem;
        width: 50%;
    }
    .Nav .NavHeader {
        margin-top: 0px;
        margin-bottom: 0.5rem;
        font-family: Linotte, sans-serif;
        color: rgb(255, 96, 0);
        font-weight: 400;
        font-size: 1rem;
    }
    .NavHeader .List {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
}

@media (min-width: 888px) {
    .Nav {
        max-width: 17.75rem;
        margin: 0px auto 1.5625rem;
        width: auto;
    }
}

@media (min-width: 1024px) {
    .Nav .List .Item {
        color: rgb(229, 229, 229);
        font-weight: 300;
        white-space: nowrap;
        font-size: 0.75rem;
        line-height: 1.4375rem;
        height: 25px;
    }
}