.SocialLink {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    background-color: transparent;
    display: block;
}

.SocialLink svg {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    width: 3.6875rem;
    height: 1.9375rem;
    overflow: hidden;
}

.SocialLink svg g {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
}

.SocialLink svg g path {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    fill: rgb(255, 255, 255);
}
