.Header {
    flex-shrink: 0;
    /* height: 3.125rem; */
    height: 28px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 15;
    max-width: 100vw;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 0.6875rem;
    background: rgb(255, 255, 255);
}
