.HeaderNav {
    line-height: 1.15;
    text-size-adjust: 100%;
    color: rgb(103, 106, 108);
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    margin-left: auto;
    padding: 0.5625rem 0px;
    display: block;
}

.HeaderNav ul {
    line-height: 1.15;
    text-size-adjust: 100%;
    color: rgb(103, 106, 108);
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    list-style-type: none;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
