.Card {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    box-sizing: inherit;
    background-color: transparent;
    height: 10.125rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0.875rem 0px;
    text-align: center;
    font-weight: 300;
    flex: 0 0 16.5rem;
    padding: 0.625rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(239, 240, 241);
    border-image: initial;
    text-decoration: none;
}

.Card img {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    box-sizing: inherit;
    border-style: none;
    display: block;
    height: 50%;
    margin: 1.25rem auto;
}

.Card .CardName {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    box-sizing: inherit;
    margin: 0px;
    color: rgb(61, 68, 79);
    display: inline;
}

.Card .CardCounter {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    box-sizing: inherit;
    color: rgb(153, 157, 163);
    margin-left: 0.3125rem;
}
