.ListWrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.ListWrapper li {
    max-width: 16.5rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-bottom: 1.25rem;
    display: block;
}

.ListWrapper li:nth-of-type(1n + 13) {
    display: none;
}

.ListWrapper li a {
    background-color: transparent;
    color: rgb(25, 141, 220);
    font-weight: 550;
    text-decoration: none;
}

@media (min-width: 604px) {
    .ListWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .ListWrapper li {
        max-width: 16.5rem;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
        margin-bottom: 1.25rem;
        display: block;
    }
}

@media (min-width: 860px) {
    .ListWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
