.Scroller {
    display: flex;
    position: absolute;
    transition: left 1s ease 0s;
    animation-name: sliding;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-play-state: running;
}

@keyframes sliding {
    from {
        left: 0;
    }
    to {
        left: -30rem;
    }
}



/* 

left: calc(((50% - 61.5rem) - 0rem) - 5.125rem);
left: calc(((50% - 61.5rem) - 10.25rem) - 5.125rem);
left: calc(((50% - 61.5rem) - 20.5rem) - 5.125rem);
left: calc(((50% - 61.5rem) - 30.75rem) - 5.125rem);
left: calc(((50% - 61.5rem) - 41rem) - 5.125rem);
left: calc(((50% - 61.5rem) - 51.25rem) - 5.125rem);
1 car = 10.25rem


left: calc(((50% - 61.5rem) - (scrollerPosition * car width)) - 5.125rem);

*/