.Scroller {
    display: flex;
    position: absolute;
    transition: left 1s ease 0s;
    left: 0;
    padding-left: 1rem;
}

@media (min-width: 800px) {
    .Scroller {
        padding-left: 0;
    }
}